/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
}
img{
    display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* --dark-green: #166212;
  --medium-green: #21941b;
  --light-green: #afceb1;
  --bright-green: #30d627;
  --white: #fff;
  --light-gray: #eaeaea;
  --dark-gray: #222;*/
  --font-stack: 'Oswald', sans-serif; 
  --main-font: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  font-family: var(--main-font);
  padding-top: 5%;
}
.dropdown-select {
  width: 100%;
  padding-right: 30px;
  appearance: none;
  cursor: pointer;
}

.dropdown-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: transform 0.3s;
}

.dropdown-arrow.open {
  transform: translateY(-50%) rotate(180deg);
}

h1{
  font-size: 41px;
  font-weight:375;
}
h2{
  margin-top: 17px;

}
h2 span{
  text-decoration: underline;
}

label{
  font-weight: thin;
  font-size: large;
}

#caseImg {
  margin-top: 45px;
  margin-right: 8%;
  margin-left: 20%;
}


.form-group{
  margin-top: 12%;
}

.form-control{
  margin-top: 13px;
  /* max-width: 200px; */
  justify-self: center;
  align-self: center;
}

.btn-primary{
  background-color: #4a9ecf;
  margin-bottom: 133px;
}

.table-striped td{
  color: whitesmoke !important;
}
td{
  text-align: left;
  color: whitesmoke;
}

th{
  text-align: left;
  color: whitesmoke
}


@media screen and (min-width: 450px) {
  .form-control{
    max-width: 200px;
  }
}
@media screen and (max-width: 450px){
  .container{
    margin-top: 20%;
  }
  #caseImg{
    margin: auto;
    margin-left: -8%;
  }
  h1{
    margin-left: 10%;
  }
  h2{
    margin-left: 10%;
  }
  h3{
    margin-left: 10%;
  }

}